.container {
  max-width: 960px;
}

.input-group .form-control,
  .input-group .form-select #password2{
    @include form-validation-state-selector($state) {
      @if $state == "valid" {
        z-index: 1;
      } @else if $state == "invalid" {
        z-index: 2;
      }
      &:focus {
        z-index: 3;
      }
    }
  }
